@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    background-color: #FBF4E1;
    font-family: 'Indie Flower', cursive;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


  main {
    flex: 1 0 auto;
  }
/* -------- Nav Bar ----------*/

nav {
  background-color:black;
}
 
nav .brand-logo {
  color: white;
  font-family: 'Indie Flower', cursive;
  font: 50%;
  margin-left: 3%;
}

nav ul a {
  color: white;
}

nav ul a:hover,
nav ul .active {
  color: #D6204E;
}

i.material-icons {
    color:white;
}

#mobile-demo.side-nav {
    background-color: #FBF4E1;
    color:black;
}

/* ----- Search Bar-----*/

.searchbar {
    width:50%;
    margin-bottom:5%;
    text-align:right;
}

/* ----- Recipe Images -----*/

img {
  border: 5px solid black;
}

/* ----- Login and Register -----*/

.form-group label {
    color: black;
    font-size: 120%;
}

#login, #register {
    padding: 5%;
    max-width: 100%;
}

#login.container, #register.container {
    margin: 0;
    width: 100%;
}

/* ----- Forms -----*/
.input-field label {
     color: black;
     font-size: .83em;
     font-weight: bolder;
   }

.btn {
    background-color: #D6204E;
}



/* ----- Buttons -----*/

.waves-effect.btn {
    background-color: #D6204E;
}

.waves-effect.btn:hover { 
    background-color: rgb(253, 18, 77);
    color: white;
}

.btn:hover { 
    background-color: rgb(253, 18, 77);
    color: white;
}

/* ----- Recipe Cards----*/

.row-all-recipes {
    padding-top:5%;
}

.recipe-title {
    font-weight: bold;
}

.recipe-image {
    max-width:150px;
    max-height:150px;
    margin-top: 5%;
}


.recipe-image-view {
    max-width:250px;
    max-height:250px;
}

.back-button {
    text-align:right;
    padding: 1%;
}

#recipe-card {
    border: 1px solid black;
    border-radius: 5px;
    padding: 1%;
}

.card-action {
    text-align: right;
    padding-right: 5%;
}

.card-time {
    text-align: center;
}

.recipe.details {
    padding-top: 5%;
}

i.all-recipes {
    color:black;
}

/* ---- View Recipes ----*/

.recipe-top {
    margin-left: 2%;
}

.title-view {
    padding:0;
    margin:0;
}

/* ---- Pagination ----*/

.material-icons {
    color: black;

} 

.current-page {
    background-color: #D6204E;
    border-radius: 4px;
} 

/* ---- Footer ----*/

footer {
    background-color:black;
    color:white;
    flex-shrink:0; /* --- https://css-tricks.com/couple-takes-sticky-footer ----*/
    margin: 0;
    margin-top:1%;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-content {
    margin:0;
}

.content {
    flex: 1 0 auto;
}

.footer-right {
    text-align: right;
    font-size: 120%;
    padding-right:5%;
}

.social-links {
    padding-left:7%;
}

.social-links li {
    display: inline;
    padding:2%;
}

.social-links i {
  font-size: 150%;
  margin: 0;
  color: white;
}

.pagination {
    width:100%;
    text-align: center;
}

i.pagination {
    color: black;
}
/*--------------- Media Queries --------------*/

@media screen and (max-width: 600px) {


nav {
    height: 60px;
    line-height: 60px;
  }

nav .brand-logo {
  margin-left: 0;
}

.login-image, .register-image {
    display: none;
  }

#login.container, #register.container {
    align-content: center;
    width: 100%;
}

.searchbar {
    width: 100%;
}

.recipe-image {
     width: 100%;
     padding:0;  
     margin:0;
     text-align: center;
}

#recipe-card.row {
    text-align: center;
    margin:0;
}

.recipe-title {
     width: 100%;
     margin:0;
}

.recipe-details col {
     width: 100%;
}

.card-action {
    text-align:center;
    width:100%;
    padding:0;
}




footer {
    max-width: 100%;
    max-height: 50px;    
    padding:1%;
}

.social-links {
  margin: 0;
  
}

.footer-right {
    margin:0;
}