body {
    background-color: #FFFDD0;
}

/* -------- Nav Bar ----------*/

nav {
  background-color:black;
}

nav .brand-logo {
  color: white;
}

nav ul a {
  color: white;
}

nav ul a:hover,
nav ul .active {
  color: #D6204E;
}

