{% extends 'base.html' %} {% block content %}
<h3>Add Recipe</h3>
<!-- Recipe Name -->
<div class="container">
  <form action="{{ url_for('insert_recipe') }}" method="POST" class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <i class="fas fa-utensils"></i>
        <input
          id="recipe_name"
          name="recipe_name"
          type="text"
          class="validate"
        />
        <label for="icon_prefix">Recipe Name</label>
      </div>
    </div>
    <!--Recipe Image
            <div class="row">
                <div class="input-field col s6">
                        <input id="image_url" name="image_url" class="validate" type="url" minlength="10" placeholder="Image URL" pattern="https?://.+">
                        <label for="image_url">Recipe Image</label>
                    </div>
                </div>-->
    <!-- Meal Type -->
    <div class="row">
      <div class="input-field col s6">
        <select id="category" name="category">
          <option value="" disabled selected>Select a meal type</option>
          {% for cat in categories %}
          <option value="{{cat.category}}">{{cat.category}}</option>
          {% endfor %}
        </select>
        <label>Meal Type:</label>
      </div>
    </div>
    <!-- Difficulty Level -->
    <div class="row">
      <div class="input-field col s6">
        <select name="difficulty">
          <option value="" disabled selected>Select a difficulty level</option>
          {% for level in levels %}
          <option value="{{level.difficulty}}"
            >{{level.difficulty}}</option
          >
          {% endfor %}
        </select>
        <label>Difficulty:</label>
      </div>
    </div>
    <!-- Cuisine -->
    <div class="row">
      <div class="input-field col s6">
        <select name="cuisine">
          <option value="" disabled selected>Select a cuisine</option>
          {% for cuisine in cuisines %}
          <option value="{{cuisine.cuisine}}">{{cuisine.cuisine}}</option>
          {% endfor %}
        </select>
        <label>Cuisine:</label>
      </div>
    </div>
    <!-- Servings -->
    <div class="row">
      <div class="input-field col s6">
        <input
          id="servings"
          name="servings"
          type="number"
          placeholder="Servings"
          class="validate"
          min="1"
          required=""
        />
        <label>Number of Servings</label>
      </div>
    </div>
    <!-- Time -->
    <div class="row">
      <div class="input-field col s6">
        <label>Cooking Time (Mins)</label>
        <input
          id="time"
          name="time"
          placeholder="Cooking time"
          class="validate"
          type="number"
          min="1"
          required=""
        />
      </div>
    </div>
    <!-- Ingredients -->
    <div class="row">
      <div class="col s12">
        <h5>Ingredients:</h5>
        <p>Add each ingredient on a new line</p>
        <textarea
          id="ingredients"
          name="ingredients"
          class="materialize-textarea validate"
          required=""
        ></textarea>
      </div>
    </div>
    <!-- Method -->
    <div class="row">
      <div class="col s12">
        <h5>Cooking instructions:</h5>
        <p>Add each step on a new line</p>
        <textarea
          id="method"
          name="method"
          class="materialize-textarea validate"
          required=""
        ></textarea>
      </div>
    </div>
    <!-- Allergans -->
    <div class="row">
      <div class="input-field col s6">
        <select name="allergens" multiple>
          <option value="" disabled selected>Check allergens</option>
          {% for allergen in allergens %}
          <option value="{{allergen.allergen}}">{{allergen.allergen}}</option>
          {% endfor %}
        </select>
        <label>Allergens:</label>
      </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit" name="action">Add Recipe
  </button>
  </form>
</div>

{% endblock %}
