{% extends 'base.html' %} {% block content %}
<div class="container">
  <h1>All Recipes</h1>
<div class="searchbar">
<form method="POST" action="{{url_for('search_recipes')}}">
        <div class="input-field search">
          <input id="keyword" name="keyword" type="search" placeholder="Search for a recipe..." required>
          <i class="material-icons all-recipes">close</i>
        </div>
      </form>
 </div>
  {% for recipe in recipes %}

  <!-- Adapted Materialize Card -->
  <div id="recipe-card" class="row">
    <div class="col 12">
      <div class="recipe-image">
        {% if recipe.recipe_image %}
        <img
          class="recipe-image"
          src="{{ url_for('upload', filename=recipe.recipe_image) }}"
          alt="photo of dish"
        />
        {% else %}
        <img
          height="100"
          width="100"
          src="{{ url_for('static', filename='images/placeholder.png')}}"
          alt="photo of dish"
        />
        {% endif %}
      </div>
    </div>
    <div class="col s9">
      <div class="card-content">
        <div>
        <h4 class="recipe-title">{{recipe.recipe_name}}</h4>
        </div>
        <div class="row recipe-details">
          <div class="col s3.5">
        <p><i class="fas fa-utensils all-recipes"></i> {{recipe.category}}</p>
        </div>
        <div class="col s3.5">
        <p class="level"><i class="fas fa-signal"></i> {{recipe.difficulty}}</p>
        </div>
         <div class="col s3.5">
        <p class="card-time"><i class="far fa-clock"></i> {{recipe.time}} mins</p>
        </div>
        </div>
      </div>
    </div>
    <div class="col s12">
      <div class="card-action">
      <div class="row">
        <a
          href="{{ url_for('view_recipe', recipe_id=recipe._id) }}"
          class="waves-effect waves-light btn"
          >View</a
        >
        <a
          href="{{url_for('edit_recipe', recipe_id=recipe._id)}}"
          class="waves-effect waves-light btn"
          >Edit</a
        >
      </div>
      </div>
    </div>
  </div>
  

  {% endfor %}
</div>
<div class="pagination">
<!--Pagination-->
  <ul class="pagination">
       <li class="disabled"><a href="#!"><i class="material-icons pagination">chevron_left</i></a></li>
    {% for page_num in pages %} 
        {% if page_num == current_page %}
        <li class="active"><a class="current-page">{{ page_num }}</a></li>
        {% else %}
        <li class="waves-effect">
        <a href="{{ url_for('all_recipes', current_page=page_num) }}">{{ page_num }}</a>
        </li>
        {% endif %} 
    {% endfor %}
        <li class="waves-effect"><a href="#!"><i class="material-icons pagination">chevron_right</i></a></li>
  </ul>
</div>
{% endblock %}
