<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <meta name="author" content="Kate Walsh">
    <title>Foodie</title>
</head>
<body>
 Test
 <h1>
    {% for recipe in recipes %}
        {{recipe.recipe_name}}
        </h1>
        <div class="col s6 ">
            <h6><strong>Cooking time <br><span class="units">(min)</span></strong></h6>
            <p>{{recipe.time}}</p>
            </div>
    {% endfor %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</html>