{% extends 'index.html' %} {% block content %}

<div id="register" class="container">
    <div class="row">
    <div class="col s6 register-image">
    <img src="{{ url_for('static', filename='images/login.jpg') }}" alt="photo of red curry dish" />
    <p>A recipe sharing community for food enthusiasts</p>
    </div>
        <div class="col s6 register-form">
            <form method=POST action="{{ url_for('register') }}">
                <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" class="form-control" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" name="pass" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Create an Account</button>
            </form>
            <br>
            <div>
                Already have an account? <a href="{{ url_for('login') }}">Log in here</a>.
            </div>
        </div>
    </div>
</div>


{% endblock %}