{% extends 'base.html' %}

{% block content %}
<!-- Recipe Name -->
<div>
    <p>{{recipe.recipe_name}}</p>
</div>

<!-- Recipe Image -->
<div class="recipe-image">
            {% if recipe.image_url %}
                <img height="200" width="200" src="{{recipe.image_url}}" alt="photo of dish"> 
             {% else %}
              <img height="200" width="200" src="{{ url_for('static', filename='images/placeholder.png')}}" alt="photo of dish">
            {% endif %}
<!-- Meal type -->
<div>
    <p>{{recipe.category}}</p>
</div>
<!-- Difficulty Level -->
<div>
    <p>{{recipe.difficulty}}</p>
</div>
<!-- Cuisine -->
<div>
    <p>{{recipe.cuisine}}</p>
</div>
<!-- Servings -->
<div>
    <p>{{recipe.servings}}</p>
</div>
<!-- Time -->
<div>
    <p>{{recipe.time}}</p>
</div>
<!-- Ingredients -->
<div>
    <p>{{recipe.ingredients}}</p>
</div>
<!-- Method -->
<div>
    <p>{{recipe.method}}</p>
</div>
<!-- Allergens -->
<div>
    <p>{{recipe.allergens}}</p>
</div>


{% endblock %}